<div ng-cloak>
  <br>
  <md-grid-list md-gutter="2px" md-cols-sm="1" md-cols-md="2" md-cols-lg="2" md-cols-gt-lg="2" md-row-height="1:1">
  <md-grid-tile>
        <table class="table table-bordered">
            <thead>
                    <th>{{working.slide.category.name}}</th>
                    <th>{{working.slide.category.description}}</th>
            </thead>
            <tbody>
                <tr ng-repeat="slide in working.slide.slides track by $index" ng-click="location('/posts/'+slide.id)" class="clickable" ng-class="{'success':slide.selected, '':!slide.selected}">
                    <td><ng-md-icon ng-if="slide.selected" icon="fast_forward" tyle="fill:grey" size="32"></ng-md-icon></td>
                    <td>{{slide.title}}</td>
                </tr>
            </tbody>
        </table>
  </md-grid-tile>
  <md-grid-tile flex>
        <div ng-repeat="slide in working.slide.slides track by $index">
            <div ng-if="slide.selected" class="animate-slide">
                    <md-card>
                        <md-card-header>
                        </md-card-header>
                        <md-card-content>{{slide.title}}</md-card-content>
                        <md-card-footer>
        <img class="md-card-image" ng-src="{{slide.featured_image}}" ng-click="location('/posts/'+slide.id)" class="clickable" alt="{{slide.title}}">
                        </md-card-footer>
                      </md-card>
            </div>
        </div>
      </md-card>
  </md-grid-tile>
</md-grid-list>
</div>
