<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li ng-repeat="item in customizer.wpCarousel"
        data-target="#carousel-example-generic"
        data-slide-to="{{$index}}" class="{{isActive($index)}}"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div ng-repeat="item in customizer.wpCarousel" class="item {{isActive($index)}}">
      <img ng-src="{{item.url}}" ng-alt="{{item.alt}}">
      <div ng-if="item.description" class="carousel-caption">
        {{item.description}}
      </div>
    </div>
  </div>
</div>
<script>
    $('.carousel').carousel({
      interval: 4000
    })
</script>
