<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Article(s)</div>

  <!-- Table -->
  <table class="table">
    <thead>
        <th>Id</th>
        <th>Titre</th>
        <th>Date</th>
        <th>Lien</th>
    </thead>
    <tbody>
        <tr ng-repeat="post in working.posts">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.date}}</td>
            <td><ng-md-icon ng-click="location('/posts/'+post.id)" icon="link"></ng-md-icon></td>
        </tr>
    </tbody>
  </table>
</div>
