/**
 * CSS
 */
md-toast.md-failure-toast-theme {
    background-color: red;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.original-size {
    height: auto;
    max-width: 100%;
    width: inherit;
}

.md-button.md-fab {
    line-height: 0px;
}
